<div class="container-fluid" height="350px">
  <div class="row justify-content-center">
   
  </div>
  <div class="row justify-content-center">
    <h1><i class="em em-hamburger"> </i>Eat-Da-Burger <i class="em em-hamburger"></i></h1>
  </div>
</div>


<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-md-6 text-right">
      <h2>All Burgers</h2>
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            <li>
              <p>{{this.id}}. {{this.burger_name}}
              <button type="button" class="change-devoured btn btn-secondary" data-id="{{id}}" data-newdevoured="{{devoured}}">Devour It!</button>
              </p>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Devoured Burgers</h2>

      <ul>
        {{#each burgers}}
          {{#if devoured}}
            <li>
              <p>{{this.id}}. {{this.burger_name}}</p>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>


<div class="row justify-content-center">
  <form class="create-form text-center">

    <div class="form-group">
      <label for="burg">Burger Name:</label>
      <input type="text" id="burg" name="name">
    </div>

    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>

<div class="row justify-content-center">
  <p>Enter a burger you want to eat and click the Submit button</p>
</div>





<script type="text/javascript">
  $(".create-form").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();
    var newBurger = {
      name: $("#burg").val().trim(),
    };
    // Send the POST request.
    $.ajax("/burger", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
  $(".change-devoured").on("click", function(event) {
    var id = $(this).data("id");
    var newDevoured = $(this).data("newdevoured");
    console.log(id);
    console.log(newDevoured);
    var newDevouredState = {
      devoured: newDevoured
    };
    // Send the PUT request.
    $.ajax("/burger/" + id, {
      type: "PUT",
      data: newDevouredState
    }).then(
      function() {
        console.log("changed devoured to", newDevoured);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>