<h1>Burgers</h1>

<h2>All burgers</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            <li>
                    <p>{{this.id}}. {{this.burger_name}}
                        <button type="button" class="change-devoured btn btn-secondary" data-id="{{id}}" data-newdevoured="{{devoured}}">Devour it!</button>
                    </p>
            </li>
            {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            <li>
                <p>{{this.id}}. {{this.burger_name}}</p>
            </li>
        {{/if}}
    {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-from">
    <div class="form-group">
        <label for="burg">Burger name:</label>
        <input type="text" id="burg" name="name">
    </div>

    <button type="submit">Add Burger</button>
</form>

<script type="text/javascript">

    $(".create-form").on("submit", function(event){
        event.preventDefault();

        var newBurger = {
            name: $("#burg").val().trim(),
        };

        //AJAX post request
        $.ajax("/buger", {
            type: "POST",
            data: newBurger
        }).then(
            function() {
                console.log("created new burger");
                //reload with updated list
                location.reload();
            }
        );
    });

    $(".change-devoured").on("click", function(event) {
        var id = $(this).data("id");
        var newDevoured = $(this).data("newdevoured");

        console.log(id);
        console.log(newDevoured);

        var newDevouredState = {
            devoured: newDevoured
        };

        //Sends PUT request
        $.ajax("/burger" + id, {
            type: "PUT",
            data: newDevouredState
        }).then(
            function() {
                console.log("changed devoured to", newDevoured);
                location.reload();
            }
        );
    });

</script>